/*
    Site Style.

    This is not a complete solution - you will need to make changes for different brand images.

*/

@import '_functions.scss';
@import '_theme.scss';

.more-padding-top {
    padding-top: 21px;
    padding-bottom: 14px;
}

.busy-cursor {
    cursor: progress;
}

.wait-cursor {
    cursor: wait;
}

i .fa .show-disabled,
div .show-disabled,
.show-disabled {
    color: $body-font-color-disabled;
}

.jsonExample
{
    font-family: Courier New, Courier, monospace;
    background-color: black;
    color: greenyellow;
    padding: 12px;
}

.mobile-only-visible
{ }

.desktop-only-visible {
    max-height: 0px;
    max-width: 0px;
    visibility: hidden;
}

@media (min-width: 768px) {
    .mobile-only-visible {
        max-height: 0px;
        max-width: 0px;
        visibility: hidden;
    }

    .desktop-only-visible {
        max-height: initial;
        max-width: initial;
        visibility: initial;
    }
}