################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/mezzanine.essentials/bin/Debug/netcoreapp2.1
