################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/mezzanine.essentials/bin/Debug/netcoreapp2.1
/mezzanine.essentials/obj/Debug/netcoreapp2.1
/QAFood/bin/Debug/netcoreapp2.1
/QAFood/obj/Debug/netcoreapp2.1
/.vs
