################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/mezzanine.essentials/bin/Debug/netcoreapp2.1
/mezzanine.essentials/obj/Debug/netcoreapp2.1
/QAFood/bin/Debug/netcoreapp2.1
/QAFood/obj/Debug/netcoreapp2.1
/.vs
/mezzanine.essentials/obj
/QAFood/obj
/QAFood.BLL/bin/Debug/netcoreapp2.1
/QAFood.BLL/obj
/QAFood.DAL/bin/Debug/netcoreapp2.1
/QAFood.DAL/obj
/QAFood.XUnitTests/obj
/QAFood.XUnitTests/bin/Debug/netcoreapp2.1
